.topbar{
    background-color: mediumorchid;
    color: aliceblue;
}
.topbar a{
    text-decoration: none;
    color: aliceblue;
}
/* start : header */
.header .logo img{
    margin: 18px 0 13px 20px;
}
.header .navbar{
    background-color: #8CC643;
    padding: 0;
}
.header .navbar .nav-link{
    font-size: 13px;
    line-height: 10px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 7px;
    color: white;

}
.header .navbar li{
    border-left: 1px solid white;
    padding-right: 5px;
}
.header .navbar li:first-child{
    border: none;
}
.header .navbar .badge{
    font-size: 15px;
}
/* end : header */
/*start : menubar */
.menubar{}
.menubar .collapse .navbar-nav li{
  font-size: 13px;
  padding: 3px 5px 0;
  background-color: #ECECEC;
 border-left: 1px solid rgba(65, 62, 62, 0.486);
}
.menubar .navbar li:first-child{
    border: none;
}

/* end : menubar */